.fixed-profile-menu {
    display: none;
    @media (max-width: 575px) {
        display: none;
        position: fixed;
        top: auto;
        bottom: 66px;
        width: 100vw;
        background: #fff;
        z-index: 10;
        .profile__menu {
            position: relative;
            top: auto;
            width: 100%;
            flex-direction: column;
            padding: 0;
            background: #fff;
            transform: none;
            box-shadow: 0px -4px 20px 0px #C6CBD480;
            border-radius: 5px 5px 0 0;
            a {
                padding: 15px 24px;
                color: #111111;
                font-size: clamp(14px, 3vw, 15px);
                transition: .3s ease;
                display: flex;
                align-items: center;
                gap: 24px;
                border: none!important;
                span {
                    margin-left: auto;
                    height: 17px;
                    display: flex;
                    align-items: center;
                    border-radius: 12px;
                    background: $textBlue;
                    color: #fff;
                    padding: 0 7px;
                    font-weight: 700;
                    font-size: 12px;
                    letter-spacing: 0.02em;
                }
                path {
                    transition: .3s ease;
                    stroke: #8996A7;
                }
                &.active {
                    font-weight: 700;
                    color: $textBlue;
                    border: none!important;
                    path {
                        stroke: $textBlue;
                    }
                }
                &:not(.active):hover {
                    background: #D8E2EF;
                    color: $textBlue;
                    path {
                        stroke: $textBlue;
                    }
                }
            }

        }
    }
}