.gallery-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    .slider-button {
        width: 30px;
        height: 30px;
        border-width: 2px;
        &-next {
            right: 15px;
        }
        &-prev {
            left: 15px;
        }
    }
    &__overlay {
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__content {
        position: relative;
        background: #F7F8F9;
        width: 100%;
        max-width: 1035px;
        margin: 0 23px 30px;
        z-index: 10000;
        border-radius: 5px;
        padding: 48px 30px 30px;
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 17px;
        background: none;
        border: none;
        cursor: pointer;
    }
    &__top {
        align-items: center;
        margin-bottom: 20px;
        .price.sale {
            margin-right: 18px;
            white-space: nowrap;
        }
        .btn-buy {
            white-space: nowrap;
            font-weight: 700;
            height: 45px;
            color: $textBlue;
            min-width: 165px;
            font-size: 15px;
            transition: $transition;
            svg {
                display: none;
            }
            &:hover {
                box-shadow: 0 4px 15px rgba(22, 72, 159, 0.3);
            }
        }
        .input-counter {
            border: 1px solid #E5EEFB;
            border-radius: 6px;
            padding: 0 10px;
            background: #fff;
            height: 45px;
            input {
                width: 40px;
            }
        }
    }
    &__title {
        font-size: clamp(18px, 3vw, 22px);
        flex-grow: 1;
    }
    &__top-right {
        gap: 16px;
        min-width: 410px;
    }
    &__slider {
        height: 475px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .product-gallery-main {
            height: 100%;
        }
        .heart {
            top: 20px;
            right: 33px;
        }
        .product__full {
            position: absolute;
            bottom: 20px;
            right: 33px;
            background: transparent;
            border: none;
            cursor: pointer;
            z-index: 999;
            path {
                transition: $transition;
            }
            &:hover {
                path {
                    stroke: #FF5650;
                }
            }
        }
    }
    &__slider-thumb {
        background: #FFFFFF;
        padding: 20px 30px 15px;
        .swiper-slide {
            border: 1px solid #E5EEFB;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px;
            cursor: pointer;
            border-radius: 6px;
            margin-bottom: 5px;
            transition: .3s ease;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &.swiper-slide-thumb-active {
                border-color: $textBlue;
            }
            &:hover {
                border-color: $textBlue;
            }
        }
        .product-gallery-thumbs {
            width: 100%;
        }
    }
    .slider-button {
        &.swiper-button-disabled {
            opacity: 0.8;
            pointer-events: none;
        }
    }
    @media #{$desktop-max} {
        &__slider {
            height: 400px;
        }
    }
    @media #{$laptop-max} {
    &__top {
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
        }
    }
    @media #{$tablet-max} {
        &__content {
            padding: 45px 20px 20px;
            max-width: 80%;
            margin: 0;
        }
        &__slider {
            height: 400px;

            .heart {
                top: 15px;
                right: 15px;
            }

            .product__full {
                bottom: 15px;
                right: 15px;
            }
        }
    }
    @media #{$mobile-max} {
        &__content {
            padding: 45px 10px 15px;
            max-width: 90%;
        }
        &__slider {
            height: 300px;
            &-thumb {
                padding: 10px 15px;
            }
        }
    }

    @media (max-width: 490px) {
        &__bot {
            position: relative;
        }
        &__top-right {
            //flex-direction: column;
            //align-items: flex-start;
            gap: 15px;
            .btn-buy {
                min-width: 0px;
                width: 45px;
                span {
                    display: none;
                }
                svg {
                    display: block;
                }
            }
        }
        &__slider {
            height: 350px;

            .heart {
                top: 5px;
                right: 5px;
            }

            .product__full {
                bottom: 5px;
                right: 5px;
            }

            &-thumb {
                display: none;
            }
        }
        .product__gallery-delivery {
            display: none;
        }

        .product-gallery-main {
            .swiper-slide {
                padding: 25px;
            }
        }
        .slider-button {
            width: 30px;
            height: 30px;
            border-width: 2px;
            display: flex;
            &-prev {
                left: -7px;
            }
            &-next {
                right: -7px;
            }
        }
    }


}