.paginations {
    justify-content: center;
    padding: 22px 0;
    background-color: #fff;
    margin-top: 5px;
    &__list {
        gap: 16px;
        align-items: center;
    }
    &__items {
        align-items: center;
        gap: 6px;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        font-size: 16px;
        border: 1px solid #D8E2EF;
        transition: .3s ease;
        &.active {
            border-color: #16489F;
            background-color: #16489F;
            color: #fff;
        }
        &-dots {
            border: none;
        }
        &:hover {
            border-color: #16489F;
        }

    }
    @media (max-width: 767px) {
        &__list {
            gap: 10px;
        }
        &__item {
            width: 32px;
            height: 32px;
            font-size: 14px;
        }
    }
}