.actions {
    padding: clamp(16px, 3vw, 20px) 0 clamp(56px, 3vw, 82px);
    &__paginations {
        background: transparent;
        padding: 0;
    }
    &__title {
        font-size: clamp(18px, 3vw, 22px);
    }
}

.actions-tab {
    display: flex;
    gap: 12px;
    margin-bottom: 8px;
   &__item {
       display: flex;
       align-items: center;
       gap: 8px;
       padding: 12px 24px;
       border: 1px solid #E5EEFB;
       border-radius: 5px;
       background: #fff;
       cursor: pointer;
       font-size: clamp(14px, 3vw, 15px);
       transition: all 0.2s ease;
       svg {
           max-width: 22px;
           height: 20px;
       }
       &:hover {
           border-color: #16489F;
       }
       &--active {
           border-color: #16489F;
           color: #16489F;
           font-weight: 700;
       }
   }

    &__content {
        display: none;
        &--active {
            display: block;
        }
    }
    &-more-button {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        font-size: 15px;
        font-weight: 700;
        color: $textBlue;
        width: 100%;
        max-width: 312px;
        border-radius: 4px;
        border: 1px solid $textBlue;
        transition: .3s ease;
        cursor: pointer;
        margin: 30px auto 15px;
        background: transparent;
        svg {
            transition: .3s ease;
        }
        path {
            transition: .3s ease;
        }
        &:hover {
            background: $textBlue;
            color: #fff;
            svg {
                transform: rotate(180deg);
                path {
                    fill: #fff;
                }
            }
        }
        @media (max-width: 575px) {
            margin-top: 16px;
        }
    }
    @media (max-width: 767px) {
        max-width: 100vw;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 0 15px;
        margin: 0 -15px;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
