.payment {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    &__item {
        padding: clamp(20px, 3vw, 30px);
        background: #fff;
        svg {
            margin-bottom: 20px;
        }
        h3 {
            font-size: 15px;
            margin-bottom: clamp(4px, 3vw, 8px);
        }
        p {
            font-size: clamp(13px, 3vw, 15px);
            line-height: 1.35;
            margin-bottom: 0;
        }
    }
    @media (max-width: 1200px) {
        &__list {
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            br {
                display: none;
            }
        }
    }
    @media (max-width: 767px) {
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
        &__item {
            padding: 16px;
            svg {
                height: 56px;
                margin-bottom: 15px
            }
        }
    }
}