.cart__ordering {
    gap: 4px;
    .nice-select {
        border-color: #D8E2EF;
    }
    &>div {
        width: calc(50% - 2px);
    }
    &-title {
        display: flex;
        gap: 12px;
        align-items: center;
        margin-bottom: 8px;
        span {
            background: #16489F;
            width: clamp(24px, 3vw, 32px);
            height: clamp(24px, 3vw, 32px);
            justify-content: center;
            align-items: center;
            color: #fff;
            display: flex;
            border-radius: 50%;
            font-size: clamp(11px, 3vw, 15px);
        }
        h2 {
            font-size: clamp(16px, 3vw, 18px);
        }
    }
    &-block {
        padding: 24px 20px;
        background: #fff;

    }
    &-block-some {
        flex-direction: column;
    }
    &-block-top {
        align-items: center;
        justify-content: space-between;
    }
    &-block-inputs {
        padding-left: 10px;
        flex-direction: column;
        gap: 14px;
        margin-top: 10px;
    }
    &-block-input {
        gap: 23px;
        align-items: flex-start;
        &>p {
            margin-top: 15px;
            width: 200px;
            span {
                color: #FF5650;

            }
        }
        &>div {
            width: calc(100% - 200px - 23px);
        }
    }
    .form-group-textarea {
        label {
            top: 23px;
        }
        textarea {
            height: 96px;
        }
    }
    .form-group-select {
        .nice-select {
            width: 100%;
            height: 50px;
            align-items: center;
            padding: 5px 20px;
            &::after {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                background-image: url(../img/cart/recipient-arrow.svg);
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                right: 15px;
                top: 50%;
                -webkit-transform: translateY(calc(-50% + 5px));
                transform: translateY(calc(-50% + 5px));
                pointer-events: none;
                border: none;
            }
            .list {
                width: 100% ;
            }
        }
    }
    &-block-delivery {
        gap: 43px;
        padding-bottom: 20px;
        border-bottom: 1px solid #E5EEFB;
        &>p {
            margin-top: 15px;
            width: 200px;
            span {
                color: #FF5650;

            }
        }
        &>div {
            width: calc(100% - 200px - 43px);
        }
    }
    &-block-delivery-item {
        flex-direction: column;
    }
    &-block-delivery-cities {
        gap: 16px;
        margin-top: 8px;
        span {
            font-size: 13px;
            border: none;
            text-decoration: underline;
            text-decoration-style: dotted;
            text-decoration-thickness: 2px;
            text-underline-offset: 18%;
            color: #16489F;
            align-items: center;
            background: transparent;
            gap: 4px;
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &-new-post-wrapp {
        flex-direction: column;
        margin-top: 15px;
        background: #F5F8FF;
        padding: 17px 20px;
        border-radius: 5px;
        gap: 10px;
        .nice-select {
            width: 100%;
            .list {
                width: 100%;
            }
        }
    }
    &-map {
        span {
            font-size: 13px;
            border: none;
            text-decoration: underline;
            text-decoration-style: dotted;
            text-decoration-thickness: 2px;
            text-underline-offset: 18%;
            color: #16489F;
            align-items: center;
            background: transparent;
            gap: 4px;
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &-block-item-pay {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &-block-pay {
        gap: 43px;
        &>p {
            margin-top: 15px;
            width: 200px;
            span {
                color: #FF5650;
            }
        }
        &>div {
            width: calc(100% - 200px - 43px);
        }
        &-item {
            flex-direction: column;
            gap: 14px;
        }
    }
    .custom-checkbox-page {
        font-size: clamp(13px, 3vw, 15px);
        line-height: 1.5;
    }
    &-submit {
        flex-direction: column;
        gap: 12px;
        width: 100%;
        &-wrapp {
            margin-top: 20px;
            width: 100%;
            max-width: calc(50% - 2px);
            margin-left: auto;
            button {
                width: 100%;
            }
        }
        .custom-checkbox-page {
            align-items: flex-start;
        }
        .custom-checkbox-page__text {
            width: calc(100% - 24px - 6px);
        }
    }
    &-submit-warning {
        display: flex;
        align-items: flex-start;
        gap: 6px;
        font-size: clamp(14px, 3vw, 15px);
        span {
            color: #FF5650;
        }
        p {
            width: calc(100% - 20px);
            font-weight: 700;
            gap: 6px;
        }
    }

    @media (max-width: 1640px) {
        &-block-delivery,
        &-block-pay {
            gap: 15px;
            &>p {
                width: 130px;
            }
            &>div {
                width: calc(100% - 130px - 15px);
            }
        }
    }
    @media (max-width: 1364px) {
        flex-direction: column;
        gap: 5px;
        &>div {
            width: 100%;
        }
        &-submit {
            flex-direction: column;
            gap: 12px;
            width: 100%;
            &-wrapp {;
                max-width: 100%;
            }
        }
        &-block {
        }
        &-block-some {
            background: transparent;
            padding: 0;
            &-top {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 0;
                &>div {

                    background: #fff;
                    padding: 24px 20px;
                }
            }
        }
        &-block-delivery {
            padding-bottom: 0px;
            border-bottom: none;
        }
        &-block-delivery,
        &-block-pay {
            gap: 23px;
            &>p {
                width: 200px;
            }
            &>div {
                width: calc(100% - 200px - 23px);
            }
        }
    }
    @media (max-width: 767px) {
        &-block-delivery,
        &-block-pay ,
        &-block-input {
            flex-direction: column;
            gap: 4px;
            &>p {
                width: 100%;
                margin-top: 0;
            }
            &>div {
                width: 100%;
            }
        }
        &-block-inputs {
            padding-left: 0;
        }
        &-block-some-top > div {
            padding: 16px;
        }
        &-new-post-wrapp {
            padding: 10px;
        }
        .nice-select {
            white-space: normal;
            line-height: 1.2;
            height: auto;
            padding: 8px 25px 8px 20px;
            display: flex;
            align-items: center;
            .list {
                li {
                    line-height: 1.2;

                    padding: 8px 25px 8px 20px;
                }
            }
        }
    }
}