.cart {
    &__top {
        align-items: center;
        padding: 20px 0 15px;
        a {
            align-items: center;
            font-size: clamp(13px, 3vw, 15px);
            border: none;
            text-decoration: underline;
            text-decoration-style: dotted;
            text-decoration-thickness: 2px;
            text-underline-offset: 18%;
            color: #16489F;
            align-items: center;
            background: transparent;
            gap: 4px;
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__title {
        font-size: clamp(20px, 4vw, 32px);
    }
    &__list {
        display: grid;
        background: #fff;
        padding: 20px;
        border-radius: 5px 5px 0 0;
        margin-bottom: 5px;
    }
    &__row {
        display: grid;
        padding: 6px 0;
        grid-template-columns:
            auto       /* название */
            80px        /* код */
            112px        /* артикул */
            96px       /* цена */
            116px     /* количество */
            75px        /* скидка */
            96px      /* сумма */
            197px;     /* наличие */
        align-items: center;
        gap: 2px;
        border-bottom: 1px solid #E5EEFB;
        background: #fff;
        &--head {
            padding: 0;
            height: 44px;
            border-bottom: none;
            &>div {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #F5F8FF;
                color: #8996A7;
                line-height: 1.5;
                border-radius: 5px;
                text-align: center;
                padding: 0 12px;
                &.text-left {
                    text-align: start;
                    justify-content: flex-start;
                }
            }
            .cart__col--title {

                padding-left: 40px;
            }
        }
        &.checked {
            background: #E5EEFB;
        }
    }
    &__col {
        font-size: clamp(14px, 3vw, 15px);
        display: flex;
        justify-content: center;
        &--title {
            align-items: center;
            padding-left: 2px;
            padding-right: 10px;
            justify-content: space-between;
            &>div {
                flex-grow: 1;
            }
            .custom-checkbox-page {
                margin-right: 16px;
            }
        }
        &--discount {
            color: #FF5650;
        }
        &.text-left {
            justify-content: flex-start;
        }


    }
    &__status {
        align-items: center;
        gap: 10px;
        padding-left: 16px;

        font-size: clamp(14px, 3vw, 15px);
        &>span {
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
        &.out-of-stock {
            color: #8996A7;
            &>span {
                background-color: #8996A7;
            }
        }
        &.availability {
            color: #2CB624;
            &>span {
                background-color: #2CB624;
            }
        }
        &.on-order {
            color: #16489F;
            align-items: flex-start;
            &>span {
                margin-top: 5px;
                background-color: #16489F;
            }
            p {
                span {
                    line-height: 1.3;
                    font-size: 12px;
                    color: #8996A7;
                }
            }
        }
        &.ending {
            align-items: center;
            gap: 8px;
            color: #FF5650;
        }
        &.withdrawn {
            color: #8996A7;
            align-items: center;
            gap: 8px;
        }
        &.more {
            color: #2CB624;
            align-items: center;
            gap: 8px;
        }
    }
    &__title {
        display: flex;
        align-items: center;
        gap: 16px;
        flex-grow: 1;
        img {
            width: 31px;
        }
        h3 {
            width: calc(100% - 50px);
            line-height: 1.35;
            font-size: clamp(14px, 3vw, 15px);
            color: $textBlue;
            font-weight: 400;
        }
    }
    &__badge--delivery-free {
        font-size: 12px;
        padding: 4px 8px 4px 0;
        color: #FF5650;
        align-items: center;
        gap: 6px;
        background: #FF56500D;
        max-width: 117px;
        p {
            width: calc(100% - 30px);
            font-weight: 700;
        }
    }
    &__row--bottom {
        padding-left: 2px;
        padding-top: 10px;
        font-size: 13px;
        align-items: center;
        gap: 24px;
        button {
            background: transparent;
            border: none;
            align-items: center;
            gap: 8px;
            color: #111;
            cursor: pointer;
        }
    }
    .only-mobile {
        display: none;
    }
    @media (max-width: 1365px) {
        &__row {
            grid-template-columns:
            auto       /* название */
            80px        /* код */
            100px        /* артикул */
            90px       /* цена */
            100px     /* количество */
            70px        /* скидка */
            90px      /* сумма */
            180px;     /* наличие */
        }
        &__status,
        &__col {
            font-size: 14px;
        }
    }
    @media (max-width: 1199px) {
        &__row {
            grid-template-columns:
            auto       /* название */
            80px        /* код */
            90px        /* артикул */
            80px       /* цена */
            80px     /* количество */
            60px        /* скидка */
            80px      /* сумма */
            140px;     /* наличие */
        }
        &__col--title {
            flex-wrap: wrap;
        }
        &__badge--delivery-free {
            margin-left: 36px;
            margin-top: 3px;
            max-width: 100%;
            svg {
                display: none;
            }
            p {
                width: 100%;
            }
        }
        &__status,
        &__col {
            font-size: 13px;
        }
    }
    @media (max-width: 991px) {
        &__list {
            padding: 15px;
        }
        &__row {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;

            padding: 16px 13px 16px 58px;
        }
        &__row--head {
            display: none;
        }
        .only-desktop {
            display: none;
        }
        .only-mobile {
            display: block;
        }
        &__badge--delivery-free {
            margin: 0;
            max-width: 100%;
            svg {
                display: none;
            }
            p {
                width: 100%;
            }
        }
        &__status,
        &__col {
            font-size: 13px;
            .input-counter input {
                width: 40px;
            }
            &--sku {
                align-items: center;
                gap: 8px;
            }
            &--title {
                margin-bottom: 2px;

                img {
                    position: absolute;
                    left: 0;
                    top: 16px;
                    width: 48px;
                    height: auto;
                }
            }
            &--quantity {
                margin: 12px 0;
                order: 3;
            }
            &--price {
                order: 4
            }
            &--discount {
                order: 5;
            }
            &--sum {
                order: 6;
            }
            &-title {
                font-size: 13px;
                color: #8996A7;
                margin-right: 4px;
            }
        }
        &__item-delete {
            background: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
            position: absolute;
            bottom: 16px;
            right: 0;
            path {
                transition: .3s ease;
            }
            &:hover {
                path {
                    stroke: $textBlue;
                }
            }
        }
        &__title {
            h3 {
                width: 100%;
            }
        }
    }
    @media (max-width: 370px) {
        &__col {
            &--sku {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}

