.product-menu {
    margin-bottom: 5px;
    &__wrapper {
        justify-content: space-between;
        padding-right: 20px;
        background-color: #fff;
        align-items: flex-end;
    }
    &.fixed {
        background-color: #f9f9f9;
        position: fixed;
        width: 100%;
        z-index: 100;
        left: 0;
        border-bottom: #E5EEFB 1px solid;
        .product-menu__list {
            background-color: transparent;
        }
        .product-menu__wrapper {
            background: #f9f9f9;
        }
    }
    &__list {
        padding: 17px 20px;
        width: auto;
        overflow: auto;
        gap: 27px;
        &::-webkit-scrollbar {
            display: none;
        }
        &::-moz-scrollbar {
            display: none;
        }
    }
    a {
        font-size: clamp(14px, 1.2vw, 15px);
        color: #111;
        font-weight: 700;
        line-height: 1.35;
        display: flex;
        align-items: center;
        white-space: nowrap;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 17px;
            border-radius: 12px;
            font-size: 12px;
            font-weight: 700;
            margin-left: 4px;
            color: #fff;
            padding: 1px 7px 0;
            background-color: $textBlue;
        }
        &.active {
            position: relative;
            color: $textBlue;
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: #16489F;
                position: absolute;
                bottom: -17px;
                left: 0;
            }
        }

    }
    &__img {
        height: 45px;
        width: auto;
    }
    &__right {
        display: none;
        gap: 25px;
        padding: 10px 0;
        align-items: center;
    }
    &__price {
        margin-right: 15px;
    }
    .input-counter {
        border: 1px solid #E5EEFB;
        border-radius: 6px;
        padding: 0 10px;
        background: #fff;
        height: 45px;
        input {
            width: 40px;
        }
    }
    .btn-buy {
        white-space: nowrap;
        font-weight: 700;
        height: 45px;
        color: $textBlue;
        min-width: 165px;
        font-size: 15px;
        transition: $transition;
        svg {
            display: none;
        }
        &:hover {
            box-shadow: 0 4px 15px rgba(22, 72, 159, 0.3);
        }
    }
    @media (max-width: 1365px) {
        a {
            &.active {
                &:after {
                    display: none;
                }
            }
        }
    }
    @media (max-width: 1199px) {
        &.fixed {
            top: 64px!important;
        }
        &__right {
            display: none!important;
        }
    }
    @media (max-width: 575px) {
        gap: 31px;
    }
}

.fixed-product-wrapper {
    display: none;
    @media (max-width: 575px) {
        display: block;
        position: fixed;
        bottom: 66px;
        background: #fff;
        left: 0;
        width: 100%;
        box-shadow: 0px -4px 20px 0px rgba(198, 203, 212, 0.5019607843);
        z-index: 101;
        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            padding: 10px 0;
        }
        .btn-buy {
            white-space: nowrap;
            font-weight: 700;
            height: 40px;
            color: $textBlue;
            min-width: 130px;
            font-size: 13px;
            transition: $transition;
            svg {
                display: none;
            }
            &:hover {
                box-shadow: 0 4px 15px rgba(22, 72, 159, 0.3);
            }
        }
        .input-counter {
            border: 1px solid #E5EEFB;
            border-radius: 6px;
            padding: 0 5px;
            background: #fff;
            height: 45px;
            input {
                width: 40px;
            }
        }

    }
    @media (max-width: 500px) {
        img {
            display: none;
        }
    }
    @media (max-width: 370px) {
        img {
            display: block;
            height: 30px;
            width: 40px;
            object-fit: contain;
        }
        .input-counter {
            height: 40px;
            padding: 0 3px;
            input {
                width: 30px;
            }
        }
        .btn-buy {
            min-width: 40px;
            width: 40px;
            height: 40px;
            svg {
                display: block;
            }
            span {
                display: none;
            }
        }
        .product-menu__price {
            b {
                font-size: 14px;
            }
        }
    }
}

.product-footer {
    @media (max-width: 575px) {
        padding-bottom: 145px;
    }
    @media (max-width: 370px) {
        padding-bottom: 155px;
    }
}