.discount__bonuses {
    padding: 16px;
    border-radius: 5px;
    border: 1px solid #E5EEFB;
    max-width: 554px;
    margin-top: 8px;
    background-color: #E5EEFB;
    &-bot,
    &-top {
        align-items: center;
        gap: 16px;
        svg {
            width: 24px;
        }
        p {
            max-width: calc(100% - 40px);
            font-size: clamp(13px, 3vw, 14px);
        }
    }
    &-top {
        margin-bottom: 12px;
    }
    &-bot {
        margin-top: 16px;
    }
    &-list {
        gap: 24px;
    }
    .swiper-wrapper {
        display: flex;
    }
    .product-card {
        max-width: 255px;
        &__bonus {
            position: relative;
            z-index: 10;
            align-items: center;
            justify-content: space-between;
            &.red {
                background: #FF56500D;
                color: #FF5650;

            }
            &-wrapp {
                gap: 3px;
                align-items: center;
                margin-top: 8px;
                p {
                    font-size: 12px;
                    position: relative;
                    z-index: 10;
                }
                .product-card__bonus {
                    margin-top: 0;
                }
            }
        }
    }
    @media (max-width: 650px) {
        .product-card {
            &__bonus {
                white-space: nowrap;
                &-wrapp {
                    flex-direction: column;
                }
            }
        }
    }
    @media (max-width: 460px) {
       &-list {
           flex-direction: column;
           align-items: center;
       }
    }
}