.profile__form {
    flex-direction: column;
    gap: 30px;
    max-width: 720px;
    .form-groups-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .form-group {
        input {
            font-size: 14px;
        }
    }
    &-inputs {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &-contact {
        align-items: center;
        gap: 16px;
        &s {
            flex-direction: column;
            gap: 16px;
        }
        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #D8E2EF;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            svg {
                max-width: 24px;
                max-height: 24px;
            }
        }
        &-text {
            line-height: 1.25;
            display: flex;
            flex-direction: column;
            a {
                color: $textColor;
                transition: .3s ease;
                &:hover {
                    color: $textBlue;
                }
            }
        }
    }
    .btn {
        max-width: 190px;
    }
    @media #{$desktop-max} {
        max-width: 100%;
    }
    @media #{$mobile-max} {
        .form-groups-row {
            grid-template-columns: 1fr;
        }
    }
}