.profile__chart {
    display: flex;
    flex-direction: column;
    gap: 7px;
    border: 1px solid #E5EEFB;
    border-radius: 5px;
    padding: 12px 15px;
    background: #fff;
    margin-top: 10px;
    &-head {
        display: grid;
        grid-template-columns: 105px 60px 60px 1fr;
        color: #111;
        font-size: 14px;
        margin-bottom: 8px;
    }
    &-row {
        display: grid;
        grid-template-columns: 105px 60px 60px 1fr;
        align-items: center;
        position: relative;
        font-size: 14px;
        &.current {
            .profile__chart-sum, .profile__chart-discount, .profile__chart-bonus {
                color: #fff;
            }
            .profile__chart-bar {
                background-color: #FF5650;
                border-radius: 0 3px 3px 0;
                &:before {
                    content: '';
                    width: 105px;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translateX(-100%);
                    background-color: #FF5650;
                    border-radius: 3px 0 0 3px;
                }
                &.blue {
                    background: #16489F;
                    &:before {
                        background: #16489F;
                    }
                }
                &.green {
                    background: #8DC73F;
                    &:before {
                        background: #8DC73F;
                    }
                }
                &.red {
                    background: #FF5650;
                    &:before {
                        background: #FF5650;
                    }
                }
                &.yellow {
                    background: #FFD603;
                    .profile__chart-sum, .profile__chart-discount, .profile__chart-bonus {
                        color: #111;
                    }
                    &:before {
                        background: #FFD603;
                    }
                }
            }
        }

    }
    &-sum {
        padding: 2px 49px 3px 0;
        text-align: right;
    }
    &-sum,
    &-discount,
    &-bonus {
        z-index: 2;
        color: #C3C3C3;
    }
    &-discount,
    &-bonus {
        padding: 2px 0 3px;
    }
    &-bar {
        animation: grow 0.8s ease-out forwards;
        animation-delay: calc(var(--i, 0) * 0.2s);
        position: absolute;
        top: 0;
        left: 100px;
        height: 100%;
        border-radius: 3px;
        z-index: 1;
        //width: calc(var(--bar-max, calc(100% - 100px)) * (var(--p, 0)));
        &.blue { background: #F8FAFC; }
        &.yellow { background: #FFFCF2; }
        &.red { background: #FCF0F0; }
    }
    @keyframes grow {
        from {
            width: 0;
        }
        to {
            width: calc(var(--bar-max, calc(100% - 100px)) * (var(--p, 0)));
        }
    }
}


