.profile__statistics {
    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-bottom: 30px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: clamp(13px, 3vw, 15px);
        &:not(:last-child) {
            border-right: 1px solid #E5EEFB;
        }
        &-top {
            flex-direction: column;
            align-items: center;
            margin-bottom: 8px;
            p {
                line-height: 1.35;
                text-align: center;
            }
        }
        &-icon {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: #E5EEFB;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
            svg {
                max-width: 32px;
                max-height: 32px;
            }
        }
        &-label {
            height: 33px;
            display: flex;
            align-items: center;
            padding: 0 12px;
            font-weight: 700;
            border-radius: 6px;
            color: #fff;
            justify-content: center;
            &.blue {
                background: #16489F;
            }
            &.green {
                background: #8DC73F;
            }
            &.red {
                background: #FF5650;
            }
            &.yellow {
                background: #FFD603;
                color: #111;
            }
        }
    }
    &-text {
        font-size: clamp(14px, 3vw, 15px);
        margin-bottom: 10px;
        a {
            color: $textBlue;
            transition: .3s ease;
            &:hover {
                color: #FF5650;
            }
        }
        span {
            color: #FF5650;
        }
    }
    &-contacts {
        display: flex;
        align-items: center;
        gap: 16px;
        &-list {
            gap: 16px;
            align-items: center;
        }
        &-item {
            p {
                display: flex;
                align-items: center;
                gap: 8px;
            }
            a {
                font-size: clamp(15px, 3vw, 16px);
            }
            &_socials {
                display: flex;
                align-items: center;
                gap: 12px;
            }
            &_socials {
                display: flex;
                align-items: center;
                a {
                    display: flex;
                }
            }
            &-phone {
                a {
                    color: $textColor;
                    transition: .3s ease;
                    &:hover {
                        color: $textBlue;
                    }
                }
            }
            &-email {
                a {
                    color: $textBlue;
                    transition: .3s ease;
                    &:hover {
                        color: #FF5650;
                    }
                }
            }
        }

    }
    @media #{$screen-max} {
        &-contacts {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    @media #{$laptop-max} {
        &-list {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 24px;
            margin-bottom: 30px;
            margin-top: 15px;
        }
        &-item {
            &:not(:last-child) {
                border-right: none;
            }
            &:nth-child(odd) {
                border-right: 1px solid #E5EEFB;
            }
        }
    }
    @media #{$mobile-max} {
        &-contacts {
            &-list {
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
            }
        }
        &-item {
            padding: 0 5px;
            &-icon {
                width: 56px;
                height: 56px;
                margin-bottom: 12px;
                svg {
                    max-width: 27px;
                    max-height: 27px;
                }
            }
        }
    }
}