.product-cards {
    padding: 22px 0;
    .container {
        overflow-x: hidden;
    }
    &__wrapper {
        flex-direction: column;
        gap: 20px;
    }
    &__top {
        display: flex;
        align-items: center;
        gap: 30px;
        position: relative;
        &-countdown {
            gap: 25px;
            .product-cards__title {
                padding-right: 5px;
            }
            @media (max-width: 767px) {
                padding-bottom: 23px;
                .product-cards__title {
                    span {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        margin-left: 0;
                        width: 100%;
                    }
                }
            }
        }
    }

    &__title {
        margin: 0;
        white-space: nowrap;
        font-size: 32px;
        display: flex;
        align-items: center;
        span {
            color: #FF5650;
            font-size: clamp(15px, 3vw, 24px);
            margin-left: 20px;
            display: block;
            font-weight: 400;
        }

    }

    &__title-line {
        flex-grow: 1;
        height: 1px;
        background-color: #D9E3E8;
    }

    &__top-link {
        white-space: nowrap;
        text-decoration: none;
        color: $textBlue;
    }
    &__list {
        position: relative;
        z-index: 5;
        .product-cards-slider.swiper-is-dragging .swiper-slide *,
        .product-cards-slider.swiper-is-dragging .swiper-slide {
            pointer-events: none !important;
            transition: none !important;
            //transform: none !important;
            box-shadow: none !important;
            //opacity: 1 !important;
        }
        @media (min-width: 767px) {
            .product-card {
                max-width: 249px;
            }
        }
    }
    .product-cards-slider {
        overflow: visible;
        .swiper-slide {
            width: auto;
            flex-shrink: 0;
            height: auto;
        }
    }

    &-slider {
        &:after,
        &:before {
            content: '';
            width: 40px;
            height: 900px;
            position: absolute;
            display: block;
            background: #f7f8f9;
            top: 50%;
            z-index: 100;
        }
        &:after {
            right: 0;
            transform: translate(100%, -50%);
        }
        &:before {
            left: 0;
            transform: translate(-100%, -50%);
        }
    }
    @media #{$tablet-max} {
        &__title {
            font-size: 20px;
        }
        &__top-link {
            font-size: 13px;
        }
    }
    @media #{$mobile-max} {
        &__top {
            gap: 7px;
        }
        &__title {
            white-space: normal;
        }
    }
    @media (max-width: 370px) {
        .product-card {
            max-width: 165px;
        }
    }
    @media (max-width: 350px) {
        &__title {
            font-size: 18px;
        }
        &__top-link {
            font-size: 12px;
        }
    }
}
