.cart__edit {
    gap: 5px;
    flex-direction: column;

    &-block {
        flex-grow: 1;
        &.open {
            .cart__edit-body {
                display: flex;
            }
            .cart__edit-head {
                padding-bottom: 10px;
            }

        }
    }
    &-head {
        padding: 27px 20px;
        gap: 16px;
        cursor: pointer;
        background: #fff;
        height: 100%;
        align-items: center;
        &.open {
            height: auto;
            .cart__edit-icon::after {
                display: none;
            }
        }
    }
    &-body {
        display: none;
        padding: 0 20px 20px 20px;
        gap: 12px;
        flex-direction: column;
        background: #fff;
        form {
            margin-bottom: 12px;
        }
    }
    &-icon {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            background-color: #16489F;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &::before {
            width: 100%;
            height: 2px;
        }
        &::after {
            width: 2px;
            height: 100%;
        }
    }
    &-title {
        font-size: clamp(14px, 1.2vw, 15px);
    }
    &-add-by-sku {
        gap: 10px;
        .form-group {

            width: calc(100% - 133px - 10px);
        }
        input {
            border-radius: 4px;
            border: 1px solid #D8E2EF;
            padding: 0 20px;
            font-size: 14px;
            background: #fff;
            &::placeholder {
                color: #C3C3C3;
            }
        }
        button {
            width: 133px;
            height: 48px;
        }
    }
    .file-upload {
        display: inline-flex;
        align-items: center;
        border: 1px solid #D8E2EF;
        border-radius: 8px;
        background: #fff;
        transition: .3s ease;
        cursor: pointer;
        position: relative;
        top: auto;
        left: auto;
        padding: 0;
        width: 100%;
        transform: none;
        height: 100%;
        pointer-events: auto;
        justify-content: center;
        &:hover {
            border-color: $textBlue;
        }
        &__input {
            display: none;
        }
        &__text {
            font-size: 14px;
            color: $textBlue;
            line-height: 1.5;
        }
    }

    &-download {
        align-items: center;
        gap: 4px;
        a {
            display: inline-flex;
            align-items: center;
            gap: 4px;
            cursor: pointer;
            font-size: 13px;
            border: none;
            text-decoration: underline;
            text-decoration-style: dotted;
            text-decoration-thickness: 2px;
            text-underline-offset: 18%;
            color: #16489F;
            background: transparent;
            &:hover {
                text-decoration: none;
            }
            &__text {
                align-items: center;
            }
            &__input {
                display: none;
            }
        }
        p {
            margin-top: 1px;
            font-size: 13px;
            color: #111111;
            line-height: 1.3;
            span {
                color: #C3C3C3;
            }
        }
    }
    &-download-cart {
        gap: 10px;
        .form-group {
            width: calc(100% - 176px - 10px);
            &__input-wrapper {
                height: 100%;
            }
            &.error-field {
                .file-upload {
                    border-color: #FF5650;
                    &__text {
                        color: #FF5650;
                    }
                }
            }
        }
    }
    &-download-btn {

            width: 176px;

    }
    @media (max-width: 767px) {
        &-add-by-sku {
            .form-group {
                input {
                    height: 44px;
                }
                width: calc(100% - 54px);
            }
        }
        &-download-cart {
            .form-group {
                width: calc(100% - 54px);
            }
        }
        &-title {
            width: calc(100% - 36px);
        }

    }
    @media (max-width: 575px) {
        &-download {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

