.profile {
    padding: clamp(16px, 3vw, 30px) 0 clamp(56px, 3vw, 80px);
    &-page {
        overflow: hidden;
        .container {
            overflow: visible;
        }
    }
    &__title {
        font-size: clamp(20px, 3vw, 30px);
        margin-bottom: 10px;
        line-height: 1.4;
    }
    &__info {
        justify-content: space-between;
    }
    &__menu {
        flex-direction: column;
        padding: 0;
        background: #fff;
        max-width: 100vw;
        overflow: auto;
        li {
            &:not(:last-child) {
                a {
                    border-bottom: 1px solid #E5EEFB;
                }
            }

        }
        a {
            padding: 13px 26px 14px;
            color: #111111;
            font-size: clamp(14px, 3vw, 15px);
            transition: .3s ease;
            display: flex;
            align-items: center;
            gap: 24px;
            p {
                display: flex;
                align-items: center;
            }
            span {
                margin-left: 5px;
                height: 17px;
                display: flex;
                align-items: center;
                border-radius: 12px;
                background: $textBlue;
                color: #fff;
                padding: 0 7px;
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 0.02em;
            }
            path {
                transition: .3s ease;
                stroke: #8996A7;
            }
            &.active {
                font-weight: 700;
                color: $textBlue;
                path {
                    stroke: $textBlue;
                }
            }
            &:not(.active):hover {
                background: #D8E2EF;
                color: $textBlue;
                path {
                    stroke: $textBlue;
                }
            }
        }
    }
    &__subtitle {
        font-size: clamp(17px, 3vw, 18px);
        margin-bottom: 15px;
        color: $textColor;
    }
    &__content {
        background: #fff;
        padding: clamp(16px, 3vw, 30px);
        border-radius: 5px;
    }
    &__offers {
        .catalog__formats-right {
            justify-content: flex-end;
        }
        &.catalog {
            margin: 20px 0 15px;
        }
    }
   @media (max-width: 1649px) {
       &__offers {
           .catalog__formats-right {
               justify-content: center;
           }
           .catalog__sorted-top {
               &>div {
                   width: calc(50% - 4px);
               }
               .filter-btn {
                   width: 100%;
               }
           }
           &.catalog {
               margin: 16px 0;
           }
       }
   }
    @media #{$desktop-max} {
        &-page {
            .container {
                padding: 0;
            }
        }
        &__info {
            position: relative;
        }
        &__sidebar {
            background: #F7F8F9;
            height: 78px;
            position: relative;
        }
        &__menu {
            flex-direction: row;
            gap: 8px;
            background: transparent;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            max-width: 100vw;
            padding: 0 20px;
            overflow: auto;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;  /* IE и Edge */
            &::-webkit-scrollbar {
                display: none; /* Chrome, Safari, Opera */
            }
            a {
                background: #fff;
                white-space: nowrap;
                border-radius: 5px;
                padding: 11px 16px;
                gap: 8px;
                svg {
                    max-width: 22px;
                    max-height: 22px;
                }
                &:not(:last-child) {
                    border-bottom: none;
                }
                &.active {
                    border: 1px solid #16489F!important;
                }
            }
        }
        &__info {
            flex-direction: column;
            &>div {
                width: 100%;
            }
        }
        &__content {
            padding: 16px 20px;
        }
    }
    @media #{$mobile-max} {
        &__content {
            padding: 16px 15px;
        }
        &__menu {
            padding: 0 15px;
        }
    }
}